@use "../shared/variables";

@mixin padding-x($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin padding-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin margin-x($value) {
    margin-left: $value;
    margin-right: $value;
}

@mixin margin-y($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin auto-width($width, $margin) {
    width: calc($width - $margin / 2);
}

@mixin border($border, $radius) {
    border: $border;
    border-radius: $radius;
}

@mixin color-primary($transparency) {
    background: rgba(0, 123, 255, $transparency);
    color: rgba(248, 249, 250, $transparency);
}

@mixin color-secondary($transparency) {
    background: rgba(108, 117, 125, $transparency);
    color: rgba(248, 249, 250, $transparency);
}

@mixin color-warning($transparency) {
    background: rgba(255, 193, 7, $transparency);
    color: rgba(52, 58, 64, $transparency);
}

@mixin color-danger($transparency) {
    background: rgba(220, 53, 69, $transparency);
    color: rgba(248, 249, 250, $transparency);
}

@mixin color-success($transparency) {
    background: rgba(40, 167, 69, $transparency);
    color: rgba(248, 249, 250, $transparency);
}

@mixin color-info($transparency) {
    background: rgba(0, 221, 255, $transparency);
    color: rgba(52, 58, 64, $transparency);
}

@mixin color-light($transparency) {
    background: rgba(248, 249, 250, $transparency);
    color: rgba(52, 58, 64, $transparency);
}

@mixin color-dark($transparency) {
    background: rgba(52, 58, 64, $transparency);
    color: rgba(248, 249, 250, $transparency);
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}
