$_display-list: (
    block: block,
    inline: inline,
    i-block: inline-block,
    flex: flex,
    i-flex: inline-flex,
    grid: grid,
    i-grid: inline-grid,
    none: none
);

@each $name, $value in $_display-list {
    .display-#{$name} {
        display: $value;
    }

    .hover\:display-#{$name} {
        display: $value;
    }
}
