/* Parent class */
.ls-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/* All columns sizes */
.ls-grid-col-1 {
    grid-column: span 1;
}

.ls-grid-col-2 {
    grid-column: span 2;
}

.ls-grid-col-3 {
    grid-column: span 3;
}

.ls-grid-col-4 {
    grid-column: span 4;
}

.ls-grid-col-5 {
    grid-column: span 5;
}

.ls-grid-col-6 {
    grid-column: span 6;
}

.ls-grid-col-7 {
    grid-column: span 7;
}

.ls-grid-col-8 {
    grid-column: span 8;
}

.ls-grid-col-9 {
    grid-column: span 9;
}

.ls-grid-col-10 {
    grid-column: span 10;
}

/* Adding max height to the columns */
.ls-grid-col-1,
.ls-grid-col-2,
.ls-grid-col-3,
.ls-grid-col-4,
.ls-grid-col-5,
.ls-grid-col-6,
.ls-grid-col-7,
.ls-grid-col-8,
.ls-grid-col-9,
.ls-grid-col-10 {
    height: 100%;
}

/* All rows sizes */
.ls-grid-row-1 {
    grid-row: span 1;
}

.ls-grid-row-2 {
    grid-row: span 2;
}

.ls-grid-row-3 {
    grid-row: span 3;
}

.ls-grid-row-4 {
    grid-row: span 4;
}

.ls-grid-row-5 {
    grid-row: span 5;
}

.ls-grid-row-6 {
    grid-row: span 6;
}

.ls-grid-row-7 {
    grid-row: span 7;
}

.ls-grid-row-8 {
    grid-row: span 8;
}

.ls-grid-row-9 {
    grid-row: span 9;
}

.ls-grid-row-10 {
    grid-row: span 10;
}

/* Responsivity */
@media screen and (max-width: 577px) {
    .ls-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 577px) and (max-width: 769px) {
    .ls-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 993px) {
    .ls-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media screen and (min-width: 993px) {
    .ls-grid {
        grid-template-columns: repeat(10, 1fr);
    }
}
