$_text-aligns: left, center, right, justify;
$_text-transform: lowercase, uppercase, capitalize;
$_text-heading: (
    h1: 2.5rem,
    h2: 2rem,
    h3: 1.75rem,
    h4: 1.5rem,
    h5: 1.25rem,
    h6: 1rem
);
$_text-weight: (
    thin: 100,
    lighter: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900,
);
$_text-fonts: sans-serif, serif, fantasy, monospace, cursive;
$_text-decorations: underline, overline, line-through, none;

@each $align in $_text-aligns {
    .text-#{$align} {
        text-align: $align;
    }
}

@each $transform in $_text-transform {
    .text-#{$transform} {
        text-transform: $transform;
    }
}

@each $name, $size in $_text-heading {
    .text-#{$name} {
        font-size: $size;
    }
}

@each $name, $weight in $_text-weight {
    .text-#{$name} {
        font-weight: $weight;
    }
}

@for $i from 1 through 5 {
    .lh-#{$i} {
        line-height: $i;
    }
}

@each $font-name in $_text-fonts {
    .text-#{$font-name} {
        font-family: $font-name;
    }
}

@each $decoration in $_text-decorations {
    .text-#{$decoration} {
        text-decoration: $decoration currentColor;
    };
}

.text-italic {
    font-style: italic;
}

.text-wrap {
    text-wrap: wrap;
}

.text-nowrap {
    text-wrap: nowrap;
}

.text-break {
    word-wrap: break-word;
}
