.ls-breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.ls-breadcrumb li {
    list-style: none;
}

.ls-breadcrumb-primary {
    color: var(--ls-primary);
}

.ls-breadcrumb-secondary {
    color: var(--ls-secondary);
}

.ls-breadcrumb-warning {
    color: var(--ls-warning);
}

.ls-breadcrumb-danger {
    color: var(--ls-danger);
}

.ls-breadcrumb-success {
    color: var(--ls-success);
}

.ls-breadcrumb-item:after {
    content: var(--ls-breadcrumb-divider);
    padding-left: 15px;
}

.ls-breadcrumb-item:last-child:after {
    content: ""
}
