.ls-bg-primary {
    background: var(--ls-primary);
}

.ls-bg-secondary {
    background: var(--ls-secondary);
}

.ls-bg-warning {
    background: var(--ls-warning);
}

.ls-bg-danger {
    background: var(--ls-danger);
}

.ls-bg-success {
    background: var(--ls-success);
}

.ls-bg-info {
    background: var(--ls-info);
}

.ls-bg-dark {
    background: var(--ls-dark);
}

.ls-bg-light {
    background: var(--ls-light);
}

.ls-bg-primary-dark {
    background: var(--ls-primary-dark);
}

.ls-bg-primary-light {
    background: var(--ls-primary-light);
}

.ls-bg-secondary-dark {
    background: var(--ls-secondary-dark);
}

.ls-bg-secondary-light {
    background: var(--ls-secondary-light);
}

.ls-bg-warning-dark {
    background: var(--ls-warning-dark);
}

.ls-bg-warning-light {
    background: var(--ls-warning-light);
}

.ls-bg-danger-dark {
    background: var(--ls-danger-dark);
}

.ls-bg-danger-light {
    background: var(--ls-danger-light);
}

.ls-bg-success-dark {
    background: var(--ls-success-dark);
}

.ls-bg-success-light {
    background: var(--ls-success-light);
}

.ls-bg-info-dark {
    background: var(--ls-info-dark);
}

.ls-bg-info-light {
    background: var(--ls-info-light);
}

.ls-bg-dark-darker {
    background: var(--ls-dark-darker);
}

.ls-bg-dark-light {
    background: var(--ls-dark-light);
}

.ls-bg-light-dark {
    background: var(--ls-light-dark);
}

.ls-bg-light-lighter {
    background: var(--ls-light-lighter);
}

.ls-bg-red-100 {
    background: var(--ls-red-100);
}

.ls-bg-red-200 {
    background: var(--ls-red-200);
}

.ls-bg-red-300 {
    background: var(--ls-red-300);
}

.ls-bg-red-400 {
    background: var(--ls-red-400);
}

.ls-bg-red-500 {
    background: var(--ls-red-500);
}

.ls-bg-red-600 {
    background: var(--ls-red-600);
}

.ls-bg-red-700 {
    background: var(--ls-red-700);
}

.ls-bg-red-800 {
    background: var(--ls-red-800);
}

.ls-bg-red-900 {
    background: var(--ls-red-900);
}

.ls-bg-orange-100 {
    background: var(--ls-orange-100);
}

.ls-bg-orange-200 {
    background: var(--ls-orange-200);
}

.ls-bg-orange-300 {
    background: var(--ls-orange-300);
}

.ls-bg-orange-400 {
    background: var(--ls-orange-400);
}

.ls-bg-orange-500 {
    background: var(--ls-orange-500);
}

.ls-bg-orange-600 {
    background: var(--ls-orange-600);
}

.ls-bg-orange-700 {
    background: var(--ls-orange-700);
}

.ls-bg-orange-800 {
    background: var(--ls-orange-800);
}

.ls-bg-orange-900 {
    background: var(--ls-orange-900);
}

.ls-bg-yellow-100 {
    background: var(--ls-yellow-100);
}

.ls-bg-yellow-200 {
    background: var(--ls-yellow-200);
}

.ls-bg-yellow-300 {
    background: var(--ls-yellow-300);
}

.ls-bg-yellow-400 {
    background: var(--ls-yellow-400);
}

.ls-bg-yellow-500 {
    background: var(--ls-yellow-500);
}

.ls-bg-yellow-600 {
    background: var(--ls-yellow-600);
}

.ls-bg-yellow-700 {
    background: var(--ls-yellow-700);
}

.ls-bg-yellow-800 {
    background: var(--ls-yellow-800);
}

.ls-bg-yellow-900 {
    background: var(--ls-yellow-900);
}

.ls-bg-green-100 {
    background: var(--ls-green-100);
}

.ls-bg-green-200 {
    background: var(--ls-green-200);
}

.ls-bg-green-300 {
    background: var(--ls-green-300);
}

.ls-bg-green-400 {
    background: var(--ls-green-400);
}

.ls-bg-green-500 {
    background: var(--ls-green-500);
}

.ls-bg-green-600 {
    background: var(--ls-green-600);
}

.ls-bg-green-700 {
    background: var(--ls-green-700);
}

.ls-bg-green-800 {
    background: var(--ls-green-800);
}

.ls-bg-green-900 {
    background: var(--ls-green-900);
}

.ls-bg-l-blue-100 {
    background: var(--ls-light-blue-100);
}

.ls-bg-l-blue-200 {
    background: var(--ls-light-blue-200);
}

.ls-bg-l-blue-300 {
    background: var(--ls-light-blue-300);
}

.ls-bg-l-blue-400 {
    background: var(--ls-light-blue-400);
}

.ls-bg-l-blue-500 {
    background: var(--ls-light-blue-500);
}

.ls-bg-l-blue-600 {
    background: var(--ls-light-blue-600);
}

.ls-bg-l-blue-700 {
    background: var(--ls-light-blue-700);
}

.ls-bg-l-blue-800 {
    background: var(--ls-light-blue-800);
}

.ls-bg-l-blue-900 {
    background: var(--ls-light-blue-900);
}

.ls-bg-d-blue-100 {
    background: var(--ls-dark-blue-100);
}

.ls-bg-d-blue-200 {
    background: var(--ls-dark-blue-200);
}

.ls-bg-d-blue-300 {
    background: var(--ls-dark-blue-300);
}

.ls-bg-d-blue-400 {
    background: var(--ls-dark-blue-400);
}

.ls-bg-d-blue-500 {
    background: var(--ls-dark-blue-500);
}

.ls-bg-d-blue-600 {
    background: var(--ls-dark-blue-600);
}

.ls-bg-d-blue-700 {
    background: var(--ls-dark-blue-700);
}

.ls-bg-d-blue-800 {
    background: var(--ls-dark-blue-800);
}

.ls-bg-d-blue-900 {
    background: var(--ls-dark-blue-900);
}

.ls-bg-purple-100 {
    background: var(--ls-purple-100);
}

.ls-bg-purple-200 {
    background: var(--ls-purple-200);
}

.ls-bg-purple-300 {
    background: var(--ls-purple-300);
}

.ls-bg-purple-400 {
    background: var(--ls-purple-400);
}

.ls-bg-purple-500 {
    background: var(--ls-purple-500);
}

.ls-bg-purple-600 {
    background: var(--ls-purple-600);
}

.ls-bg-purple-700 {
    background: var(--ls-purple-700);
}

.ls-bg-purple-800 {
    background: var(--ls-purple-800);
}

.ls-bg-purple-900 {
    background: var(--ls-purple-900);
}

.ls-bg-pink-100 {
    background: var(--ls-pink-100);
}

.ls-bg-pink-200 {
    background: var(--ls-pink-200);
}

.ls-bg-pink-300 {
    background: var(--ls-pink-300);
}

.ls-bg-pink-400 {
    background: var(--ls-pink-400);
}

.ls-bg-pink-500 {
    background: var(--ls-pink-500);
}

.ls-bg-pink-600 {
    background: var(--ls-pink-600);
}

.ls-bg-pink-700 {
    background: var(--ls-pink-700);
}

.ls-bg-pink-800 {
    background: var(--ls-pink-800);
}

.ls-bg-pink-900 {
    background: var(--ls-pink-900);
}

.ls-bg-neutral-100 {
    background: var(--ls-neutral-100);
}

.ls-bg-neutral-200 {
    background: var(--ls-neutral-200);
}

.ls-bg-neutral-300 {
    background: var(--ls-neutral-300);
}

.ls-bg-neutral-400 {
    background: var(--ls-neutral-400);
}

.ls-bg-neutral-500 {
    background: var(--ls-neutral-500);
}

.ls-bg-neutral-600 {
    background: var(--ls-neutral-600);
}

.ls-bg-neutral-700 {
    background: var(--ls-neutral-700);
}

.ls-bg-neutral-800 {
    background: var(--ls-neutral-800);
}

.ls-bg-neutral-900 {
    background: var(--ls-neutral-900);
}

/* Auto change text colors (just for the main colors) */
[data-ls-text-color="auto-change"] .ls-bg-primary,
[data-ls-text-color="auto-change"] .ls-bg-secondary,
[data-ls-text-color="auto-change"] .ls-bg-danger,
[data-ls-text-color="auto-change"] .ls-bg-success,
[data-ls-text-color="auto-change"] .ls-bg-info,
[data-ls-text-color="auto-change"] .ls-bg-light {
    color: var(--ls-light);
}
