.ls-color-primary {
    color: var(--ls-primary);
}

.ls-color-secondary {
    color: var(--ls-secondary);
}

.ls-color-warning {
    color: var(--ls-warning);
}

.ls-color-danger {
    color: var(--ls-danger);
}

.ls-color-success {
    color: var(--ls-success);
}

.ls-color-info {
    color: var(--ls-info);
}

.ls-color-dark {
    color: var(--ls-dark);
}

.ls-color-light {
    color: var(--ls-light);
}

.ls-color-link {
    color: var(--ls-link);
}

.ls-color-primary-dark {
    color: var(--ls-primary-dark);
}

.ls-color-primary-light {
    color: var(--ls-primary-light);
}

.ls-color-secondary-dark {
    color: var(--ls-secondary-dark);
}

.ls-color-secondary-light {
    color: var(--ls-secondary-light);
}

.ls-color-warning-dark {
    color: var(--ls-warning-dark);
}

.ls-color-warning-light {
    color: var(--ls-warning-light);
}

.ls-color-danger-dark {
    color: var(--ls-danger-dark);
}

.ls-color-danger-light {
    color: var(--ls-danger-light);
}

.ls-color-success-dark {
    color: var(--ls-success-dark);
}

.ls-color-success-light {
    color: var(--ls-success-light);
}

.ls-color-info-dark {
    color: var(--ls-info-dark);
}

.ls-color-info-light {
    color: var(--ls-info-light);
}

.ls-color-dark-darker {
    color: var(--ls-dark-darker);
}

.ls-color-dark-light {
    color: var(--ls-dark-light);
}

.ls-color-light-dark {
    color: var(--ls-light-dark);
}

.ls-color-light-lighter {
    color: var(--ls-light-lighter);
}

.ls-color-link-dark {
    color: var(--ls-link-dark);
}

.ls-color-link-light {
    color: var(--ls-link-light);
}

.ls-color-red-100 {
    color: var(--ls-red-100);
}

.ls-color-red-200 {
    color: var(--ls-red-200);
}

.ls-color-red-300 {
    color: var(--ls-red-300);
}

.ls-color-red-400 {
    color: var(--ls-red-400);
}

.ls-color-red-500 {
    color: var(--ls-red-500);
}

.ls-color-red-600 {
    color: var(--ls-red-600);
}

.ls-color-red-700 {
    color: var(--ls-red-700);
}

.ls-color-red-800 {
    color: var(--ls-red-800);
}

.ls-color-red-900 {
    color: var(--ls-red-900);
}

.ls-color-orange-100 {
    color: var(--ls-orange-100);
}

.ls-color-orange-200 {
    color: var(--ls-orange-200);
}

.ls-color-orange-300 {
    color: var(--ls-orange-300);
}

.ls-color-orange-400 {
    color: var(--ls-orange-400);
}

.ls-color-orange-500 {
    color: var(--ls-orange-500);
}

.ls-color-orange-600 {
    color: var(--ls-orange-600);
}

.ls-color-orange-700 {
    color: var(--ls-orange-700);
}

.ls-color-orange-800 {
    color: var(--ls-orange-800);
}

.ls-color-orange-900 {
    color: var(--ls-orange-900);
}

.ls-color-yellow-100 {
    color: var(--ls-yellow-100);
}

.ls-color-yellow-200 {
    color: var(--ls-yellow-200);
}

.ls-color-yellow-300 {
    color: var(--ls-yellow-300);
}

.ls-color-yellow-400 {
    color: var(--ls-yellow-400);
}

.ls-color-yellow-500 {
    color: var(--ls-yellow-500);
}

.ls-color-yellow-600 {
    color: var(--ls-yellow-600);
}

.ls-color-yellow-700 {
    color: var(--ls-yellow-700);
}

.ls-color-yellow-800 {
    color: var(--ls-yellow-800);
}

.ls-color-yellow-900 {
    color: var(--ls-yellow-900);
}

.ls-color-green-100 {
    color: var(--ls-green-100);
}

.ls-color-green-200 {
    color: var(--ls-green-200);
}

.ls-color-green-300 {
    color: var(--ls-green-300);
}

.ls-color-green-400 {
    color: var(--ls-green-400);
}

.ls-color-green-500 {
    color: var(--ls-green-500);
}

.ls-color-green-600 {
    color: var(--ls-green-600);
}

.ls-color-green-700 {
    color: var(--ls-green-700);
}

.ls-color-green-800 {
    color: var(--ls-green-800);
}

.ls-color-green-900 {
    color: var(--ls-green-900);
}

.ls-color-light-blue-100 {
    color: var(--ls-light-blue-100);
}

.ls-color-light-blue-200 {
    color: var(--ls-light-blue-200);
}

.ls-color-light-blue-300 {
    color: var(--ls-light-blue-300);
}

.ls-color-light-blue-400 {
    color: var(--ls-light-blue-400);
}

.ls-color-light-blue-500 {
    color: var(--ls-light-blue-500);
}

.ls-color-light-blue-600 {
    color: var(--ls-light-blue-600);
}

.ls-color-light-blue-700 {
    color: var(--ls-light-blue-700);
}

.ls-color-light-blue-800 {
    color: var(--ls-light-blue-800);
}

.ls-color-light-blue-900 {
    color: var(--ls-light-blue-900);
}

.ls-color-dark-blue-100 {
    color: var(--ls-dark-blue-100);
}

.ls-color-dark-blue-200 {
    color: var(--ls-dark-blue-200);
}

.ls-color-dark-blue-300 {
    color: var(--ls-dark-blue-300);
}

.ls-color-dark-blue-400 {
    color: var(--ls-dark-blue-400);
}

.ls-color-dark-blue-500 {
    color: var(--ls-dark-blue-500);
}

.ls-color-dark-blue-600 {
    color: var(--ls-dark-blue-600);
}

.ls-color-dark-blue-700 {
    color: var(--ls-dark-blue-700);
}

.ls-color-dark-blue-800 {
    color: var(--ls-dark-blue-800);
}

.ls-color-dark-blue-900 {
    color: var(--ls-dark-blue-900);
}

.ls-color-purple-100 {
    color: var(--ls-purple-100);
}

.ls-color-purple-200 {
    color: var(--ls-purple-200);
}

.ls-color-purple-300 {
    color: var(--ls-purple-300);
}

.ls-color-purple-400 {
    color: var(--ls-purple-400);
}

.ls-color-purple-500 {
    color: var(--ls-purple-500);
}

.ls-color-purple-600 {
    color: var(--ls-purple-600);
}

.ls-color-purple-700 {
    color: var(--ls-purple-700);
}

.ls-color-purple-800 {
    color: var(--ls-purple-800);
}

.ls-color-purple-900 {
    color: var(--ls-purple-900);
}

.ls-color-pink-100 {
    color: var(--ls-pink-100);
}

.ls-color-pink-200 {
    color: var(--ls-pink-200);
}

.ls-color-pink-300 {
    color: var(--ls-pink-300);
}

.ls-color-pink-400 {
    color: var(--ls-pink-400);
}

.ls-color-pink-500 {
    color: var(--ls-pink-500);
}

.ls-color-pink-600 {
    color: var(--ls-pink-600);
}

.ls-color-pink-700 {
    color: var(--ls-pink-700);
}

.ls-color-pink-800 {
    color: var(--ls-pink-800);
}

.ls-color-pink-900 {
    color: var(--ls-pink-900);
}

.ls-color-neutral-100 {
    color: var(--ls-neutral-100);
}

.ls-color-neutral-200 {
    color: var(--ls-neutral-200);
}

.ls-color-neutral-300 {
    color: var(--ls-neutral-300);
}

.ls-color-neutral-400 {
    color: var(--ls-neutral-400);
}

.ls-color-neutral-500 {
    color: var(--ls-neutral-500);
}

.ls-color-neutral-600 {
    color: var(--ls-neutral-600);
}

.ls-color-neutral-700 {
    color: var(--ls-neutral-700);
}

.ls-color-neutral-800 {
    color: var(--ls-neutral-800);
}

.ls-color-neutral-900 {
    color: var(--ls-neutral-900);
}
