@use "../shared/mixins";
@use "../shared/variables";

$_alerts-color: (
    primary: true,
    secondary: true,
    warning: false,
    danger: true,
    success: true,
    info: false,
    light: false,
    dark: true
);

.alert {
    --background-color: #{map-get(variables.$alerts, background-color)};
    --text-color: #{map-get(variables.$alerts, text-color)};
    --box-shadow: #{map-get(variables.$alerts, box-shadow)};
    --opacity: #{map-get(variables.$alerts, opacity)};
    --padding-x: #{map-get(variables.$alerts, padding-x)};
    --padding-y: #{map-get(variables.$alerts, padding-y)};
    --margin-x: #{map-get(variables.$alerts, margin-x)};
    --margin-y: #{map-get(variables.$alerts, margin-y)};
    --border-type: #{map-get(variables.$alerts, border-type)};
    --border-radius: #{map-get(variables.$alerts, border-radius)};
    --gap-with-icon: #{map-get(variables.$alerts, gap-with-icon)};
    --dimiss-btn-align: #{map-get(variables.$alerts, dimiss-btn-align)};
    --dimiss-btn-cursor: #{map-get(variables.$alerts, dimiss-btn-cursor)};

    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
    box-shadow: var(--box-shadow);
    opacity: var(--opacity);
    @include mixins.padding-x(var(--padding-x));
    @include mixins.padding-y(var(--padding-y));
    @include mixins.margin-x(var(--margin-x));
    @include mixins.margin-y(var(--margin-y));
    @include mixins.border(var(--border-type), var(--border-radius));

    a {
        font-weight: bold;
        color: map-get(variables.$main-colors, dark);
    }

    &-with-icon {
        display: flex;
        align-items: center;
        column-gap: var(--gap-with-icon);

        .alert-icon {
            height: 100%;
        }
    }

    &-dismissible {
        @extend .alert-with-icon;

        div:first-child {
            width: 100%;
        }
    }

    .alert-dimiss-btn {
        justify-self: flex-end;
        align-self: var(--dimiss-btn-align);
        background: transparent;
        border: none;
        min-width: 3.5rem;
        min-height: 2rem;
        font-size: 3rem;
        cursor: var(--dimiss-btn-cursor);
    }
}

@each $color, $props in $_alerts-color {
    .alert-#{$color} {
        background: map-get(variables.$main-colors, $color);

        @if $props {
            color: map-get(variables.$main-colors, light);

            .alert-dimiss-btn {
                color: map-get(variables.$main-colors, light);
            }
        }
        @else {
            color: map-get(variables.$main-colors, dark);

            .alert-dimiss-btn {
                color: map-get(variables.$main-colors, dark);
            }
        }

        a {
            @if $props {
                color: map-get(variables.$main-colors, light);
            }
            @else {
                color: map-get(variables.$main-colors, dark);
            }
        }
    }
}

@media (max-width: 375px) {
    .alert-with-icon {
        flex-direction: column;
        row-gap: var(--gap-with-icon);
        align-items: center;
        text-align: center;
    }

    .alert-dimiss-btn {
        display: inline-block;
        width: max-content;
        margin: 0 auto;
    }
}
