@use "../shared/variables";
@use "../shared/mixins";

// Internal variable for all button background colors and text colors. The doDarker property asks if the button is going to get darker or not when there's a hover and active action
$_btn-colors: (
    primary: (bg: map-get(variables.$main-colors, primary), text: map-get(variables.$main-colors, light), goDarker: true),
    secondary: (bg: map-get(variables.$main-colors, secondary), text: map-get(variables.$main-colors, light), goDarker: true),
    warning: (bg: map-get(variables.$main-colors, warning), text: map-get(variables.$main-colors, dark), goDarker: false),
    danger: (bg: map-get(variables.$main-colors, danger), text: map-get(variables.$main-colors, light), goDarker: true),
    success: (bg: map-get(variables.$main-colors, success), text: map-get(variables.$main-colors, light), goDarker: true),
    info: (bg: map-get(variables.$main-colors, info), text: map-get(variables.$main-colors, dark), goDarker: false),
    dark: (bg: map-get(variables.$main-colors, dark), text: map-get(variables.$main-colors, light), goDarker: false),
    light: (bg: map-get(variables.$main-colors, light), text: map-get(variables.$main-colors, dark), goDarker: true),
);

// All button sizes
$_btn-size: (
    sm: 0.5rem,
    md: 1rem,
    lg: 1.5rem,
    xl: 2rem,
    xxl: 2.5rem,
);

// All outlined buttons, with a property for the background and the text color
$_btn-outline: (
    primary: (bg: map-get(variables.$main-colors, primary), text: map-get(variables.$main-colors, light)),
    secondary: (bg: map-get(variables.$main-colors, secondary), text: map-get(variables.$main-colors, light)),
    warning: (bg: map-get(variables.$main-colors, warning), text: map-get(variables.$main-colors, dark)),
    danger: (bg: map-get(variables.$main-colors, danger), text: map-get(variables.$main-colors, light)),
    success: (bg: map-get(variables.$main-colors, success), text: map-get(variables.$main-colors, light)),
    info: (bg: map-get(variables.$main-colors, info), text: map-get(variables.$main-colors, dark)),
    light: (bg: map-get(variables.$main-colors, light), text: map-get(variables.$main-colors, dark)),
    dark: (bg: map-get(variables.$main-colors, dark), text: map-get(variables.$main-colors, light)),
);

// Main style
.btn {
    --background-color: #{map-get(variables.$btns, background-color)};
    --text-color: #{map-get(variables.$btns, text-color)};
    --cursor: #{map-get(variables.$btns, cursor)};
    --border-type: #{map-get(variables.$btns, border-type)};
    --border-radius: #{map-get(variables.$btns, border-radius)};
    --padding-x: #{map-get(variables.$btns, padding-x)};
    --padding-y: #{map-get(variables.$btns, padding-y)};
    --margin-x: #{map-get(variables.$btns, margin-x)};
    --margin-y: #{map-get(variables.$btns, margin-y)};
    --link-color: #{map-get(variables.$btns, link-color)};
    --group-radius: #{map-get(variables.$btns, group-radius)};
    --icon-align: #{map-get(variables.$btns, icon-align)};
    --box-shadow: #{map-get(variables.$btns, box-shadow)};

    @include mixins.border(var(--border-type), var(--border-radius));
    @include mixins.padding-x(var(--padding-x));
    @include mixins.padding-y(var(--padding-y));
    @include mixins.margin-x(var(--margin-x));
    @include mixins.margin-y(var(--margin-y));
    background: var(--background-color);
    cursor: var(--cursor);
    font-size: 1rem;
    text-align: center;
    transition: filter 0.2s, background 0.2s, color 0.2s;

    // Link buttons
    &-link {
        background: transparent;
        color: var(--link-color);
        text-decoration: underline;
    }

    // Block buttons
    &-block {
        @include mixins.auto-width(100%, 0.5rem)
    }

    // Multiple buttons in row
    &-group {
        display: flex;

        .btn {
            box-shadow: none;
            margin: 0;
            @include mixins.border(var(--border-type), var(--border-radius));

            &:first-child {
                border-radius: var(--group-radius) 0 0 var(--group-radius);
            }

            &:last-child {
                border-radius: 0 var(--group-radius) var(--group-radius) 0;
            }
        }

        // Multiple buttons in column
        &-vertical {
            display: flex;
            flex-direction: column;
            width: max-content;

            .btn {
                box-shadow: none;
                margin: 0;
                @include mixins.border(var(--border-type), var(--border-radius));

                &:first-child {
                    border-radius: var(--group-radius) var(--group-radius) 0 0;
                }

                &:last-child {
                    border-radius: 0 0 var(--group-radius) var(--group-radius);
                }
            }
        }
    }

    // Button with icon (there's a chance of having some errors, so be careful)
    &-with-icon {
        display: flex;
        align-items: var(--icon-align);
        position: relative;

        & .btn-icon {
            position: absolute;
            height: 20px;
            left: 1rem;
        }

        & span {
            margin-left: 1rem;
        }
    }
}

// Anchor tag with base button class
a.btn {
    text-decoration: none;
}

// Creates all button colors
@each $name, $props in $_btn-colors {
    .btn-#{$name} {
        background: map-get($props, bg);
        color: map-get($props, text);
        box-shadow: var(--box-shadow);

        // Mouse actions that make the button lighter or darker
        &:hover {
            @if map-get($props, goDarker) {
                filter: brightness(95%);
            }
            @else {
                filter: brightness(105%);
            }
        }

        &:active {
            @if map-get($props, goDarker) {
                filter: brightness(85%);
            }
            @else {
                filter: brightness(115%);
            }
        }

        // Color buttons when active
        &.btn-active {
            cursor: default;

            // Another checker that determinates if the button will get darker or lighter
            @if map-get($props, goDarker) {
                filter: brightness(85%);
            }
            @else {
                filter: brightness(115%);
            }
        }
    }
}

// Creates all buttons sizes
@each $size, $value in $_btn-size {
    .btn-#{$size} {
        font-size: $value;
        @include mixins.padding-y($value * 0.5);
        @include mixins.padding-x($value * 2);
        @include mixins.border(none, $value * 0.5);
    }
}

// Creates all outlined buttons
@each $name, $colors in $_btn-outline {
    .btn-outline-#{$name} {
        background: transparent;
        color: map-get($colors, bg);
        border: 2px solid map-get($colors, bg);

        &:hover {
            background: map-get($colors, bg);
            color: map-get($colors, text);
            filter: brightness(100%);
        }

        &.btn-active {
            background: map-get($colors, bg);
            color: map-get($colors, text);

            &:hover {
                @if $name == "dark" {
                    filter: brightness(115%);
                } @else {
                    filter: brightness(85%);
                }
            }
        }
    }
}
