*:not(li) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin-left: 1.5rem;
}

body {
    background: var(--ls-light);
    color: var(--ls-dark);
    font-family: var(--ls-font-sans-serif);
    height: 100vh;
}

html, body {
    position: relative;
}

body[data-ls-theme="light"] {
    background: var(--ls-light);
    color: var(--ls-dark);
}

body[data-ls-theme="dark"] {
    background: var(--ls-dark);
    color: var(--ls-light)
}

a {
    color: var(--ls-link);
    cursor: pointer;
}

input {
    background: var(--ls-light-dark);
    color: var(--ls-dark);
    border: 1px solid var(--ls-dark);
    font-weight: var(--ls-font-weight-500);
    font-size: var(--ls-size-h5-rem);
    padding: var(--ls-spacing-md) var(--ls-spacing-lg);
    border-radius: var(--ls-border-radius-md);
    box-shadow: var(--ls-shadow-sm);
    outline: none;
    cursor: text;
    transition: filter var(--ls-transition-fast);
}

input:focus {
    filter: brightness(95%);
}

[data-ls-theme="light"] input {
    background: var(--ls-light-dark);
    color: var(--ls-dark);
    border: 1px solid var(--ls-dark);
}

[data-ls-theme="dark"] input {
    background: var(--ls-dark-light);
    color: var(--ls-light);
    border: 1px solid var(--ls-light)
}

pre {
    text-wrap: wrap;
}

table {
    width: 100%;
}

li + li {
    margin-bottom: 10px;
}
