:root {
    /* Main colors */
    --ls-primary: rgb(0, 140, 255);
    --ls-secondary: rgb(21, 0, 126);
    --ls-warning: rgb(255, 244, 39);
    --ls-danger: rgb(211, 0, 0);
    --ls-success: rgb(0, 230, 0);
    --ls-info: rgb(81, 226, 255);
    --ls-dark: rgb(27, 27, 27);
    --ls-light: rgb(247, 247, 247);
    --ls-link: rgb(28, 138, 255);

    /* Stylized main colors */
    --ls-primary-dark: rgb(18, 126, 215);
    --ls-primary-light: rgb(35, 156, 255);
    --ls-secondary-dark: rgb(12, 0, 71);
    --ls-secondary-light: rgb(27, 0, 162);
    --ls-warning-dark: rgb(202, 192, 0);
    --ls-warning-light: rgb(255, 247, 103);
    --ls-danger-dark: rgb(153, 0, 0);
    --ls-danger-light: rgb(255, 25, 25);
    --ls-success-dark: rgb(0, 165, 0);
    --ls-success-light: rgb(39, 255, 39);
    --ls-info-dark: rgb(29, 188, 220);
    --ls-info-light: rgb(149, 237, 255);
    --ls-dark-darker: rgb(7, 7, 7);
    --ls-dark-light: rgb(42, 42, 42);
    --ls-light-dark: rgb(237, 237, 237);
    --ls-light-lighter: rgb(248, 248, 248);
    --ls-link-dark: rgb(0, 109, 226);
    --ls-link-light: rgb(66, 157, 255);

    /* Others colors */
    --ls-red-100: hsl(0, 100%, 90%);
    --ls-red-200: hsl(0, 100%, 80%);
    --ls-red-300: hsl(0, 100%, 70%);
    --ls-red-400: hsl(0, 100%, 60%);
    --ls-red-500: hsl(0, 100%, 50%);
    --ls-red-600: hsl(0, 100%, 40%);
    --ls-red-700: hsl(0, 100%, 30%);
    --ls-red-800: hsl(0, 100%, 20%);
    --ls-red-900: hsl(0, 100%, 10%);

    --ls-orange-100: hsl(39, 100%, 90%);
    --ls-orange-200: hsl(39, 100%, 80%);
    --ls-orange-300: hsl(39, 100%, 70%);
    --ls-orange-400: hsl(39, 100%, 60%);
    --ls-orange-500: hsl(39, 100%, 50%);
    --ls-orange-600: hsl(39, 100%, 40%);
    --ls-orange-700: hsl(39, 100%, 30%);
    --ls-orange-800: hsl(39, 100%, 20%);
    --ls-orange-900: hsl(39, 100%, 10%);

    --ls-yellow-100: hsl(60, 100%, 90%);
    --ls-yellow-200: hsl(60, 100%, 80%);
    --ls-yellow-300: hsl(60, 100%, 70%);
    --ls-yellow-400: hsl(60, 100%, 60%);
    --ls-yellow-500: hsl(60, 100%, 50%);
    --ls-yellow-600: hsl(60, 100%, 40%);
    --ls-yellow-700: hsl(60, 100%, 30%);
    --ls-yellow-800: hsl(60, 100%, 20%);
    --ls-yellow-900: hsl(60, 100%, 10%);

    --ls-green-100: hsl(120, 73%, 90%);
    --ls-green-200: hsl(120, 73%, 80%);
    --ls-green-300: hsl(120, 73%, 70%);
    --ls-green-400: hsl(120, 73%, 60%);
    --ls-green-500: hsl(120, 73%, 50%);
    --ls-green-600: hsl(120, 73%, 40%);
    --ls-green-700: hsl(120, 73%, 30%);
    --ls-green-800: hsl(120, 73%, 20%);
    --ls-green-900: hsl(120, 73%, 10%);

    --ls-light-blue-100: hsl(195, 53%, 90%);
    --ls-light-blue-200: hsl(195, 53%, 80%);
    --ls-light-blue-300: hsl(195, 53%, 70%);
    --ls-light-blue-400: hsl(195, 53%, 60%);
    --ls-light-blue-500: hsl(195, 53%, 50%);
    --ls-light-blue-600: hsl(195, 53%, 40%);
    --ls-light-blue-700: hsl(195, 53%, 30%);
    --ls-light-blue-800: hsl(195, 53%, 20%);
    --ls-light-blue-900: hsl(195, 53%, 10%);

    --ls-dark-blue-100: hsl(240, 100%, 90%);
    --ls-dark-blue-200: hsl(240, 100%, 80%);
    --ls-dark-blue-300: hsl(240, 100%, 70%);
    --ls-dark-blue-400: hsl(240, 100%, 60%);
    --ls-dark-blue-500: hsl(240, 100%, 50%);
    --ls-dark-blue-600: hsl(240, 100%, 40%);
    --ls-dark-blue-700: hsl(240, 100%, 30%);
    --ls-dark-blue-800: hsl(240, 100%, 20%);
    --ls-dark-blue-900: hsl(240, 100%, 10%);

    --ls-purple-100: hsl(271, 76%, 90%);
    --ls-purple-200: hsl(271, 76%, 80%);
    --ls-purple-300: hsl(271, 76%, 70%);
    --ls-purple-400: hsl(271, 76%, 60%);
    --ls-purple-500: hsl(271, 76%, 50%);
    --ls-purple-600: hsl(271, 76%, 40%);
    --ls-purple-700: hsl(271, 76%, 30%);
    --ls-purple-800: hsl(271, 76%, 20%);
    --ls-purple-900: hsl(271, 76%, 10%);

    --ls-pink-100: hsl(300, 76%, 90%);
    --ls-pink-200: hsl(300, 76%, 80%);
    --ls-pink-300: hsl(300, 76%, 70%);
    --ls-pink-400: hsl(300, 76%, 60%);
    --ls-pink-500: hsl(300, 76%, 50%);
    --ls-pink-600: hsl(300, 76%, 40%);
    --ls-pink-700: hsl(300, 76%, 30%);
    --ls-pink-800: hsl(300, 76%, 20%);
    --ls-pink-900: hsl(300, 76%, 10%);

    --ls-neutral-100: hsl(0, 0%, 90%);
    --ls-neutral-200: hsl(0, 0%, 80%);
    --ls-neutral-300: hsl(0, 0%, 70%);
    --ls-neutral-400: hsl(0, 0%, 60%);
    --ls-neutral-500: hsl(0, 0%, 50%);
    --ls-neutral-600: hsl(0, 0%, 40%);
    --ls-neutral-700: hsl(0, 0%, 30%);
    --ls-neutral-800: hsl(0, 0%, 20%);
    --ls-neutral-900: hsl(0, 0%, 10%);

    /* Texts sizes */
    --ls-size-h1: 2rem;
    --ls-size-h2: 1.5rem;
    --ls-size-h3: 1.25rem;
    --ls-size-h4: 1rem;
    --ls-size-h5: 0.875rem;
    --ls-size-h6: 0.75rem;
    --ls-size-p: 1rem;

    /* Fonts familys */
    --ls-font-sans-serif: "Inter", sans-serif;
    --ls-font-monospace: "Source Code Pro", monospace;
    --ls-font-serif: "Noto Serif", serif;
    --ls-font-cursive: "Comic Relief", cursive;
    /* Sadly I coundn't find any Fantasy fonts in Google Fonts */
    --ls-font-iceland: "Iceland", sans-serif;
    --ls-font-oi: "Oi", serif;
    --ls-font-pixelify: "Pixelify Sans", sans-serif;

    /* Fonts styles */
    --ls-font-weight-100: 100;
    --ls-font-weight-200: 200;
    --ls-font-weight-300: 300;
    --ls-font-weight-400: 400;
    --ls-font-weight-500: 500;
    --ls-font-weight-600: 600;
    --ls-font-weight-700: 700;
    --ls-font-weight-800: 800;
    --ls-font-weight-900: 900;
    --ls-font-style-italic: italic;

    /* Box shadows */
    --ls-shadow-sm: 0 2px 15px -5px rgba(0, 0, 0, 0.3);
    --ls-shadow-md: 0 5px 10px rgba(0, 0, 0, 0.3);
    --ls-shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.3);
    --ls-shadow-xl: 0 20px 40px rgba(0, 0, 0, 0.3);

    /* Spacings */
    --ls-spacing-sm: 2px;
    --ls-spacing-md: 5px;
    --ls-spacing-lg: 10px;
    --ls-spacing-xl: 20px;
    --ls-spacing-xxl: 35px;

    /* Border radius */
    --ls-border-radius-sm: 2px;
    --ls-border-radius-md: 5px;
    --ls-border-radius-lg: 10px;
    --ls-border-radius-xl: 20px;
    --ls-border-radius-xxl: 35px;

    /* Transitions */
    --ls-transition-fast: 0.2s;
    --ls-transition-medium: 0.4s;
    --ls-transition-slow: 0.6s;
    --ls-transition-slower: 0.8s;

    /* Gradients */
    --ls-grad-now-direction: var(--ls-grad-bottom);
    --ls-grad-bottom: to bottom;
    --ls-grad-bottom-right: to bottom right;
    --ls-grad-right: to right;
    --ls-grad-top-right: to top right;
    --ls-grad-top: to top;
    --ls-grad-top-left: to top left;
    --ls-grad-left: to left;
    --ls-grad-left-bottom: to left bottom;

    /* Components */
    --ls-breadcrumb-content: ">";
    --ls-breadcrumb-color: var(--ls-dark);
    --ls-breadcrumb-img: url("");
}
