/* Inline alerts */
.ls-alert {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    margin: 5px;
    padding: 10px;
    width: calc(100% - 10px);
    background: var(--ls-light-dark);
    color: var(--ls-dark);
    border-radius: 10px;
}

.ls-alert-head {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* Themes system */
[data-ls-theme="light"] .ls-alert {
    background: var(--ls-light-dark);
    color: var(--ls-dark);
    border: 2px solid var(--ls-dark-light);
}

[data-ls-theme="dark"] .ls-alert {
    background: var(--ls-dark-light);
    color: var(--ls-light);
    border: 2px solid var(--ls-dark-darker);
}

/* Alert icons */
.ls-alert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 35px;
    height: 35px;
}

/* Alert links */
.ls-alert-link {
    font-weight: bold;
}

/* Alerts floating */
.ls-alert-left-top,
.ls-alert-left-middle,
.ls-alert-left-bottom,
.ls-alert-center-top,
.ls-alert-center-middle,
.ls-alert-center-bottom,
.ls-alert-right-top,
.ls-alert-right-middle,
.ls-alert-right-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 10px;
    max-width: 50%;
    background: var(--ls-light-dark);
    color: var(--ls-dark);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 2;
}

.ls-alert-left-top {
    top: 0%;
    left: 0%;
}

.ls-alert-left-middle {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.ls-alert-left-bottom {
    bottom: 0%;
    left: 0%;
}

.ls-alert-center-top {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.ls-alert-center-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ls-alert-center-bottom {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.ls-alert-right-top {
    right: 0%;
    top: 0%;
}

.ls-alert-right-middle {
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.ls-alert-right-bottom {
    right: 0%;
    bottom: 0%;
}

/* Alerts colors */
.ls-alert-primary {
    background: var(--ls-primary);
    color: var(--ls-light);
    border: 2px solid var(--ls-primary-dark);
}

.ls-alert-secondary {
    background: var(--ls-secondary);
    color: var(--ls-light);
    border: 2px solid var(--ls-secondary-dark);
}

.ls-alert-warning {
    background: var(--ls-warning);
    color: var(--ls-dark);
    border: 2px solid var(--ls-warning-dark);
}

.ls-alert-danger {
    background: var(--ls-danger);
    color: var(--ls-light);
    border: 2px solid var(--ls-danger-dark);
}

.ls-alert-success {
    background: var(--ls-success);
    color: var(--ls-dark);
    border: 2px solid var(--ls-success-dark);
}

.ls-alert-info {
    background: var(--ls-info);
    color: var(--ls-dark);
    border: 2px solid var(--ls-info-dark);
}

.ls-alert-light {
    background: var(--ls-light-dark);
    color: var(--ls-dark)
}

.ls-alert-dark {
    background: var(--ls-dark-light);
    border: 2px solid var(--ls-dark-darker);
    color: var(--ls-light);
}

.ls-alert-primary .ls-alert-link,
.ls-alert-secondary .ls-alert-link,
.ls-alert-danger .ls-alert-link {
    color: var(--ls-light);
}

.ls-alert-warning .ls-alert-link,
.ls-alert-info .ls-alert-link {
    color: var(--ls-dark);
}

/* Resposivity */
@media screen and (max-width: 420px) {
    .ls-alert-head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .ls-alert-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
}

