/* Main block */
.ls-breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* Items & Separators */
.ls-breadcrumb-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    list-style: none;
}

.ls-breadcrumb-item::after {
    content: var(--ls-breadcrumb-content);
    color: var(--ls-breadcrumb-color);
    margin-left: 15px;
    margin-right: 15px;
}

/* Themes */
[data-ls-theme="light"] .ls-breadcrumb-item::after {
    content: var(--ls-breadcrumb-content);
    color: var(--ls-dark);
}

[data-ls-theme="dark"] .ls-breadcrumb-item::after {
    content: var(--ls-breadcrumb-content);
    color: var(--ls-light);
}

/* No separator in the last item */
.ls-breadcrumb-item:last-child::after {
    content: "";
}
