.ls-dropdown {
    position: relative;
}

.ls-dropdown-menu {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 5px 0;
    width: max-content;
    background: var(--ls-light);
    border: 1px solid var(--ls-light-dark);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1;
}

.ls-dropdown-item {
    margin: 0;
    width: 100%;
    padding: 5px 15px;
    background: var(--ls-light);
    list-style: none;
}

.ls-dropdown-item a {
    color: var(--ls-light);
    text-decoration: none;
}

.ls-dropdown-text {
    display: inline;
    cursor: pointer;
}

.ls-dropdown-text::after {
    content: " ▾";
}

/* Dropdown colors */
/* Primary */
.ls-dropdown-primary .ls-dropdown-menu {
    border: 1px solid var(--ls-primary-dark);
    background: var(--ls-primary);
}

.ls-dropdown-primary .ls-divisor {
    background: var(--ls-primary-dark);
}

.ls-dropdown-primary .ls-dropdown-item {
    background: var(--ls-primary);
    color: var(--ls-light);
}

/* Secondary */
.ls-dropdown-secondary .ls-dropdown-menu {
    border: 1px solid var(--ls-secondary-dark);
    background: var(--ls-secondary);
}

.ls-dropdown-secondary .ls-divisor {
    background: var(--ls-secondary-dark);
}

.ls-dropdown-secondary .ls-dropdown-item {
    background: var(--ls-secondary);
    color: var(--ls-light);
}

/* Warning */
.ls-dropdown-warning .ls-dropdown-menu {
    border: 1px solid var(--ls-warning-dark);
    background: var(--ls-warning);
}

.ls-dropdown-warning .ls-divisor {
    background: var(--ls-warning-dark);
}

.ls-dropdown-warning .ls-dropdown-item {
    background: var(--ls-warning);
    color: var(--ls-dark);
}

/* Danger */
.ls-dropdown-danger .ls-dropdown-menu {
    border: 1px solid var(--ls-danger-dark);
    background: var(--ls-danger);
}

.ls-dropdown-danger .ls-divisor {
    background: var(--ls-danger-dark);
}

.ls-dropdown-danger .ls-dropdown-item {
    background: var(--ls-danger);
    color: var(--ls-light);
}

/* Success */
.ls-dropdown-success .ls-dropdown-menu {
    border: 1px solid var(--ls-success-dark);
    background: var(--ls-success);
}

.ls-dropdown-success .ls-divisor {
    background: var(--ls-success-dark);
}

.ls-dropdown-success .ls-dropdown-item {
    background: var(--ls-success);
    color: var(--ls-dark);
}

/* Info */
.ls-dropdown-info .ls-dropdown-menu {
    border: 1px solid var(--ls-info-dark);
    background: var(--ls-info);
}

.ls-dropdown-info .ls-divisor {
    background: var(--ls-info-dark);
}

.ls-dropdown-info .ls-dropdown-item {
    background: var(--ls-info);
    color: var(--ls-dark);
}

/* Light */
.ls-dropdown-light .ls-dropdown-menu {
    border: 1px solid var(--ls-light-dark);
    background: var(--ls-light);
}

.ls-dropdown-light .ls-divisor {
    background: var(--ls-light);
}

.ls-dropdown-light .ls-dropdown-item {
    background: var(--ls-light);
    color: var(--ls-dark);
}

/* Dark */
.ls-dropdown-dark .ls-dropdown-menu {
    border: 1px solid var(--ls-dark-darker);
    background: var(--ls-dark);
}

.ls-dropdown-dark .ls-divisor {
    background: var(--ls-dark-darker);
}

.ls-dropdown-dark .ls-dropdown-item {
    background: var(--ls-dark);
    color: var(--ls-light);
}

[data-ls-theme="dark"] .ls-dropdown-menu {
    border: 1px solid var(--ls-dark-darker);
    background: var(--ls-dark);
}

[data-ls-theme="dark"] .ls-divisor {
    background: var(--ls-dark-darker);
}

[data-ls-theme="dark"] .ls-dropdown-item {
    background: var(--ls-dark);
    color: var(--ls-light);
}

[data-ls-theme="light"] .ls-dropdown-menu {
    border: 1px solid var(--ls-light-dark);
    background: var(--ls-light);
}

[data-ls-theme="light"] .ls-dropdown .ls-divisor {
    background: var(--ls-light-dark);
}

[data-ls-theme="light"] .ls-dropdown-item,
[data-ls-theme="light"] .ls-dropdown-item a {
    background: var(--ls-light);
    color: var(--ls-dark);
}

.ls-dropdown-primary .ls-dropdown-item a,
.ls-dropdown-secondary .ls-dropdown-item a,
.ls-dropdown-danger .ls-dropdown-item a,
.ls-dropdown-dark .ls-dropdown-item a {
    color: var(--ls-light);
    text-decoration: none;
}

.ls-dropdown-warning .ls-dropdown-item a,
.ls-dropdown-success .ls-dropdown-item a,
.ls-dropdown-info .ls-dropdown-item a,
.ls-dropdown-light .ls-dropdown-item a {
    color: var(--ls-dark);
    text-decoration: none;
}
