.pos-static {
  position: static;
}

.hover\:pos-static:hover {
  position: static;
}

.pos-relative {
  position: relative;
}

.hover\:pos-relative:hover {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.hover\:pos-absolute:hover {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.hover\:pos-fixed:hover {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.hover\:pos-sticky:hover {
  position: sticky;
}

.top-0 {
  top: 0%;
}

.hover\:top-0:hover {
  top: 0%;
}

.left-0 {
  left: 0%;
}

.hover\:left-0:hover {
  left: 0%;
}

.right-0 {
  right: 0%;
}

.hover\:right-0:hover {
  right: 0%;
}

.bottom-0 {
  bottom: 0%;
}

.hover\:bottom-0:hover {
  bottom: 0%;
}

.top-10 {
  top: 10%;
}

.hover\:top-10:hover {
  top: 10%;
}

.left-10 {
  left: 10%;
}

.hover\:left-10:hover {
  left: 10%;
}

.right-10 {
  right: 10%;
}

.hover\:right-10:hover {
  right: 10%;
}

.bottom-10 {
  bottom: 10%;
}

.hover\:bottom-10:hover {
  bottom: 10%;
}

.top-20 {
  top: 20%;
}

.hover\:top-20:hover {
  top: 20%;
}

.left-20 {
  left: 20%;
}

.hover\:left-20:hover {
  left: 20%;
}

.right-20 {
  right: 20%;
}

.hover\:right-20:hover {
  right: 20%;
}

.bottom-20 {
  bottom: 20%;
}

.hover\:bottom-20:hover {
  bottom: 20%;
}

.top-30 {
  top: 30%;
}

.hover\:top-30:hover {
  top: 30%;
}

.left-30 {
  left: 30%;
}

.hover\:left-30:hover {
  left: 30%;
}

.right-30 {
  right: 30%;
}

.hover\:right-30:hover {
  right: 30%;
}

.bottom-30 {
  bottom: 30%;
}

.hover\:bottom-30:hover {
  bottom: 30%;
}

.top-40 {
  top: 40%;
}

.hover\:top-40:hover {
  top: 40%;
}

.left-40 {
  left: 40%;
}

.hover\:left-40:hover {
  left: 40%;
}

.right-40 {
  right: 40%;
}

.hover\:right-40:hover {
  right: 40%;
}

.bottom-40 {
  bottom: 40%;
}

.hover\:bottom-40:hover {
  bottom: 40%;
}

.top-50 {
  top: 50%;
}

.hover\:top-50:hover {
  top: 50%;
}

.left-50 {
  left: 50%;
}

.hover\:left-50:hover {
  left: 50%;
}

.right-50 {
  right: 50%;
}

.hover\:right-50:hover {
  right: 50%;
}

.bottom-50 {
  bottom: 50%;
}

.hover\:bottom-50:hover {
  bottom: 50%;
}

.top-60 {
  top: 60%;
}

.hover\:top-60:hover {
  top: 60%;
}

.left-60 {
  left: 60%;
}

.hover\:left-60:hover {
  left: 60%;
}

.right-60 {
  right: 60%;
}

.hover\:right-60:hover {
  right: 60%;
}

.bottom-60 {
  bottom: 60%;
}

.hover\:bottom-60:hover {
  bottom: 60%;
}

.top-70 {
  top: 70%;
}

.hover\:top-70:hover {
  top: 70%;
}

.left-70 {
  left: 70%;
}

.hover\:left-70:hover {
  left: 70%;
}

.right-70 {
  right: 70%;
}

.hover\:right-70:hover {
  right: 70%;
}

.bottom-70 {
  bottom: 70%;
}

.hover\:bottom-70:hover {
  bottom: 70%;
}

.top-80 {
  top: 80%;
}

.hover\:top-80:hover {
  top: 80%;
}

.left-80 {
  left: 80%;
}

.hover\:left-80:hover {
  left: 80%;
}

.right-80 {
  right: 80%;
}

.hover\:right-80:hover {
  right: 80%;
}

.bottom-80 {
  bottom: 80%;
}

.hover\:bottom-80:hover {
  bottom: 80%;
}

.top-90 {
  top: 90%;
}

.hover\:top-90:hover {
  top: 90%;
}

.left-90 {
  left: 90%;
}

.hover\:left-90:hover {
  left: 90%;
}

.right-90 {
  right: 90%;
}

.hover\:right-90:hover {
  right: 90%;
}

.bottom-90 {
  bottom: 90%;
}

.hover\:bottom-90:hover {
  bottom: 90%;
}

.top-100 {
  top: 100%;
}

.hover\:top-100:hover {
  top: 100%;
}

.left-100 {
  left: 100%;
}

.hover\:left-100:hover {
  left: 100%;
}

.right-100 {
  right: 100%;
}

.hover\:right-100:hover {
  right: 100%;
}

.bottom-100 {
  bottom: 100%;
}

.hover\:bottom-100:hover {
  bottom: 100%;
}/*# sourceMappingURL=position.css.map */