.ls-grad-bottom {
    --ls-grad-now-direction: to bottom;
}

.ls-grad-bottom-right {
    --ls-grad-now-direction: to bottom right;
}

.ls-grad-right {
    --ls-grad-now-direction: to right;
}

.ls-grad-top-right {
    --ls-grad-now-direction: to top right;
}

.ls-grad-top {
    --ls-grad-now-direction: to top;
}

.ls-grad-top-left {
    --ls-grad-now-direction: to top left;
}

.ls-grad-left {
    --ls-grad-now-direction: to left;
}

.ls-grad-left-bottom {
    --ls-grad-now-direction: to left bottom;
}

.ls-grad-primary {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-primary), var(--ls-primary-dark));
}

.ls-grad-secondary {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-secondary), var(--ls-secondary-dark));
}

.ls-grad-warning {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-warning), var(--ls-warning-dark));
}

.ls-grad-danger {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-danger), var(--ls-danger-dark));
}

.ls-grad-success {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-success), var(--ls-success-dark));
}

.ls-grad-info {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-info), var(--ls-info-dark));
}

.ls-grad-dark {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-dark), var(--ls-dark-darker));
}

.ls-grad-light {
    background: linear-gradient(var(--ls-grad-now-direction), var(--ls-light), var(--ls-light-dark));
}
