.ls-list-none {
    list-style: none;
}

.ls-list-disc {
    list-style: disc;
}

.ls-list-square {
    list-style: square;
}

.ls-list-romenian {
    list-style: romenian;
}

.ls-list-armenian {
    list-style: armenian;
}

.ls-list-georgian {
    list-style: georgian;
}

.ls-list-circle {
    list-style: circle;
}

.ls-list-decimal {
    list-style: decimal;
}

.ls-list-decimal-0 {
    list-style: decimal-leading-zero;
}

.ls-list-low-alpha {
    list-style: lower-alpha;
}

.ls-list-low-greek {
    list-style: lower-greek;
}

.ls-list-low-latin {
    list-style: lower-roman;
}

.ls-list-upp-alpha {
    list-style: upper-alpha
}

.ls-list-upp-roman {
    list-style: upper-roman;
}

.ls-list-inside {
    list-style: inside;
}

.ls-list-outside {
    list-style: outside;
}
