.ls-p0, .ls-px-0, .ls-py-0 {
    padding: 0;
}

.ls-gap-0 {
    gap: 0;
}

.ls-m0, .ls-mx-0, .ls-my-0 {
    margin: 0;
}

.ls-p1 {
    padding: 2rem;
}

.ls-p2 {
    padding: 4rem;
}

.ls-p3 {
    padding: 8rem;
}

.ls-p4 {
    padding: 16rem;
}

.ls-p5 {
    padding: 32rem;
}

.ls-px-1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ls-px-2 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.ls-px-3 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.ls-px-4 {
    padding-left: 16rem;
    padding-right: 16rem;
}

.ls-px-5 {
    padding-left: 32rem;
    padding-right: 32rem;
}

.ls-py-1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ls-py-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ls-py-3 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.ls-py-4 {
    padding-top: 16rem;
    padding-bottom: 16em;
}

.ls-py-5 {
    padding-top: 32rem;
    padding-bottom: 32rem;
}

.ls-gap-1 {
    gap: 2rem;
}

.ls-gap-2 {
    gap: 4rem;
}

.ls-gap-3 {
    gap: 8rem;
}

.ls-gap-4 {
    gap: 16rem;
}

.ls-gap-5 {
    gap: 32rem;
}

.ls-m1 {
    margin: 2rem;
}

.ls-m2 {
    margin: 4rem;
}

.ls-m3 {
    margin: 8rem;
}

.ls-m4 {
    margin: 16rem;
}

.ls-m5 {
    margin: 32rem;
}

.ls-mx-1 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.ls-mx-2 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.ls-mx-3 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.ls-mx-4 {
    margin-left: 16rem;
    margin-right: 16rem;
}

.ls-mx-8 {
    margin-left: 32rem;
    margin-right: 32rem;
}

.ls-my-1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ls-my-2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.ls-my-3 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.ls-my-4 {
    margin-top: 16rem;
    margin-bottom: 16rem;
}

.ls-my-5 {
    margin-top: 32rem;
    margin-bottom: 32rem;
}
