.ls-btn {
    display: inline-block;
    background: var(--ls-light-dark);
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: var(--ls-p);
    font-weight: var(--ls-font-weight-500);
    text-decoration: none;
    cursor: pointer;
    text-wrap: nowrap;
    transition: all var(--ls-transition-fast);
}

.ls-btn:hover {
    filter: brightness(90%);
}

.ls-btn:focus {
    filter: brightness(75%);
}

.ls-btn-primary {
    background: var(--ls-primary);
    color: var(--ls-light);
}

.ls-btn-secondary {
    background: var(--ls-secondary);
    color: var(--ls-light);
}

.ls-btn-warning {
    background: var(--ls-warning);
    color: var(--ls-dark);
}

.ls-btn-warning:hover {
    filter: brightness(110%);
}

.ls-btn-danger {
    background: var(--ls-danger);
    color: var(--ls-light);
}

.ls-btn-success {
    background: var(--ls-success);
    color: var(--ls-dark);
}

.ls-btn-success:hover {
    filter: brightness(110%)
}

.ls-btn-info {
    background: var(--ls-info);
    color: var(--ls-dark);
}

.ls-btn-info:hover {
    filter: brightness(110%);
}

.ls-btn-light {
    background: var(--ls-light);
    color: var(--ls-dark);
}

.ls-btn-dark {
    background: var(--ls-dark);
    color: var(--ls-light);
}

.ls-btn-link {
    background: transparent;
    color: var(--ls-link);
    text-decoration: underline;
}

.ls-btn-link:hover {
    filter: brightness(100%)
}

.ls-btn-primary-outline {
    background: transparent;
    border: 2px solid var(--ls-primary);
    color: var(--ls-primary);
}

.ls-btn-primary-outline:hover {
    background: var(--ls-primary);
    color: var(--ls-light);
    filter: brightness(100%);
}

.ls-btn-secondary-outline {
    background: transparent;
    border: 2px solid var(--ls-secondary);
    color: var(--ls-secondary);
}

.ls-btn-secondary-outline:hover {
    background: var(--ls-secondary);
    color: var(--ls-light);
    filter: brightness(100%);
}

.ls-btn-warning-outline {
    background: transparent;
    border: 2px solid var(--ls-warning);
    color: var(--ls-warning);
}

.ls-btn-warning-outline:hover {
    background: var(--ls-warning);
    color: var(--ls-dark);
    filter: brightness(100%);
}

.ls-btn-danger-outline {
    background: transparent;
    border: 2px solid var(--ls-danger);
    color: var(--ls-danger);
}

.ls-btn-danger-outline:hover {
    background: var(--ls-danger);
    color: var(--ls-light);
    filter: brightness(100%);
}

.ls-btn-success-outline {
    background: transparent;
    border: 2px solid var(--ls-success);
    color: var(--ls-success);
}

.ls-btn-success-outline:hover {
    background: var(--ls-success);
    color: var(--ls-success);
    filter: brightness(100%);
}

.ls-btn-info-outline {
    background: transparent;
    border: 2px solid var(--ls-info);
    color: var(--ls-info);
}

.ls-btn-info-outline:hover {
    background: var(--ls-info);
    color: var(--ls-dark);
    filter: brightness(100%);
}

.ls-btn-light-outline {
    background: transparent;
    border: 2px solid var(--ls-light);
    color: var(--ls-light);
}

.ls-btn-light-outline:hover {
    background: var(--ls-light);
    color: var(--ls-dark);
    filter: brightness(100%);
}

.ls-btn-dark-outline {
    background: transparent;
    border: 2px solid var(--ls-dark);
    color: var(--ls-dark);
}

.ls-btn-dark-outline:hover {
    background: var(--ls-dark);
    color: var(--ls-light);
    filter: brightness(100%);
}

.ls-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
}

.ls-btn-group .ls-btn {
    margin: 0;
    border-radius: 0;
}

.ls-btn-group .ls-btn:first-child {
    border-radius: 5px 0 0 5px;
}

.ls-btn-group .ls-btn:last-child {
    border-radius: 0 5px 5px 0;
}

.ls-btn-group-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
}

.ls-btn-group-column .ls-btn {
    margin: 0;
    border-radius: 0;
    width: 100%;
}

.ls-btn-group-column .ls-btn:first-child {
    border-radius: 5px 5px 0 0;
}

.ls-btn-group-column .ls-btn:last-child {
    border-radius: 0 0 5px 5px;
}
